@import 'variables';

.photos {
  padding-top: 94px;

  .mat-card {
    padding-bottom: 0;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    &.selected {
      cursor: not-allowed;
      box-shadow: 0px 15px 15px -2px $warn-color;
      outline: 2px solid $warn-color;
    }
  }
  
  &__spinner {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
}